body {
  font-family: sans-serif;
  background: #222;
  margin: 0;
  padding: 0;
}

.ring {
  border-left: 2px solid white;
  border-right: 2px solid white;
  height: 100vh;
  width: 100vw;
  max-width: 540px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes punch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(6.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.villian {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(50%);
  transition: transform 0.8s;
}
.head {
  margin-top: 2rem;
  font-size: 8rem;
}

.cogs {
  display: flex;
  font-size: 3rem;
  margin-top: -4rem;
  justify-content: space-around;
}

.cog {
  transition: transform 0.8s;
}

.cog-left {
  animation: spin 0.8s linear infinite;
}

.cog-right {
  animation: spin-reverse 0.8s linear infinite;
}

.fists {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.fist {
  background: none;
  border: none;
  font-size: 3rem;
  border-radius: 50%;
  border: 2px solid white;
  padding: 0.5rem;
  height: 6rem;
  width: 6rem;
  outline: none;
}

.fist:active {
  transform: scale(1.1);
}

.fist-left {
  transform: rotate(-90deg);
}
.fist-right {
  transform: rotate(90deg);
}
