body {
  font-family: sans-serif;
  background: #111;
  margin: 0;
  padding: 0;
  user-select: none;
}

.ring {
  height: 100vh;
  width: 100vw;
  max-width: 300px;
  position: relative;
  margin: 0 auto;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes villain-punch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(6.5);
  }

  100% {
    transform: scale(1);
  }
}

.villain {
  margin-top: 48px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.6s;
}

@keyframes flash {
  0% {
    background: rgba(255, 0, 0, 0.5);
  }

  100% {
    background: rgba(255, 0, 0, 0);
  }
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  border-radius: 25%;
  animation: flash 0.4s;
  padding: 12px;
  z-index: 1;
}

.head {
  font-size: 80px;
  position: relative;
}

.cogs {
  display: flex;
  font-size: 42px;
  margin-top: -56px;
  justify-content: space-around;
}

.cog {
  transition: transform 0.8s;
}

.cog-left {
  animation: spin 0.8s linear infinite;
}

.cog-right {
  animation: spin-reverse 0.8s linear infinite;
}

.villain-life {
  padding: 32px 24px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  position: relative;
  z-index: 1;
}
.avatar {
  font-size: 18px;
  margin-right: 6px;
}
.life-bar {
  width: 320px;
  border-radius: 14px;
  border: 2px solid #11b7ca;
  height: 10px;
}

.life-bar-life {
  height: 100%;
  border-radius: 4px;
  background: #11b7ca;
  transition: width 0.3s ease-in;
}
.fists {
  position: absolute;
  bottom: 0;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.fist {
  background: #111;
  border: none;
  border-radius: 50%;
  border: 3px solid white;
  padding: 8px;
  height: 84px;
  width: 84px;
  outline: none;
}

.fist:active {
  transform: scale(1.2);
}

.fist-left,
.fist-right {
  font-size: 42px;
  display: inline-block;
}
.fist-left {
  transform: rotate(-90deg);
}
.fist-right {
  transform: rotate(90deg);
}

.punches {
  /* position: relative;
  top: 22px;
  left: 30px; */
}

@keyframes punch {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1000px);
  }
}

@keyframes punch-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1200px);
  }
}

.punch {
  position: absolute;
  animation: punch 1s ease-in;
}

.win {
  /* margin-top: 48px; */
  color: white;
  font-size: 56px;
  font-weight: 500;
  text-align: center;
}
.restart {
  color: white;
  background: none;
  font-size: 24px;
  font-weight: 500;
  border: 2px solid white;
  padding: 8px 16px;
  border-radius: 6px;
}
