body {
  font-family: sans-serif;
  background: #222;
  margin: 0;
  padding: 0;
}

.ring {
  background: #111;
  /* border-left: 3px solid #777; */
  /* border-right: 3px solid #777; */
  height: 100vh;
  width: 100vw;
  max-width: 540px;
  position: relative;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes villain-punch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(6.5);
  }

  100% {
    transform: scale(1);
  }
}

.villain {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(50%);
  transition: transform 0.8s;
}
.head {
  margin-top: 24px;
  font-size: 112px;
}

.cogs {
  display: flex;
  font-size: 42px;
  margin-top: -56px;
  justify-content: space-around;
}

.cog {
  transition: transform 0.8s;
}

.cog-left {
  animation: spin 0.8s linear infinite;
}

.cog-right {
  animation: spin-reverse 0.8s linear infinite;
}

.villain-life {
  padding: 16px 12px 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  position: relative;
  z-index: 1;
}
.avatar {
  font-size: 18px;
  margin-right: 6px;
}
.life-bar {
  width: 320px;
  border-radius: 4px;
  border: 1px solid #777;
}

.life-bar-life {
  height: 8px;
  border-radius: 4px;
  background: #11b7ca;
  transition: width 0.3s ease-in;
}
.fists {
  position: absolute;
  bottom: 0;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.fist {
  background: none;
  border: none;
  border-radius: 50%;
  border: 3px solid #777;
  padding: 8px;
  height: 84px;
  width: 84px;
  outline: none;
}

.fist:active {
  transform: scale(1.2);
}

.fist-left,
.fist-right {
  font-size: 42px;
  display: inline-block;
}
.fist-left {
  transform: rotate(-90deg);
}
.fist-right {
  transform: rotate(90deg);
}

.punches {
  position: relative;
  top: 22px;
  left: 30px;
}

@keyframes punch {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1000px);
  }
}

@keyframes punch-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1000px);
  }
}

.punch {
  position: absolute;
  animation: punch 2s;
}
